.tarefas{
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 500ms;
  font-size: 25px;
}

.tarefas li:hover {
  background: #555;
}

.tarefas li .edit {
  margin-right: 15px;
  color: #51c5de;
}

.tarefas li .neon .edit:hover {
  color: #51c5de;
  text-shadow: 0 0 8px rgba(255,255 ,255 ,0.3), 0 0 100px #51c5de;
  box-shadow: inset 0 0 2px rgba(255,255,255,0.3), 0 0 10px #51c5de;
}

.tarefas li .delete {
  margin-right: 15px;
  color: #f04c64;
}

.tarefas li .neon .delete:hover {
  color: #f04c64;
  text-shadow: 0 0 8px rgba(255,255 ,255 ,0.3), 0 0 100px #f04c64;
  box-shadow: inset 0 0 2px rgba(255,255,255,0.3), 0 0 10px #f04c64;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
  color: #000;
}

.tarefas li .edit,
.tarefas li .delete {
  cursor: pointer;
  transition: all 500ms;
}

.tarefas li span {
  display: flex;
  align-items: center;
}

